@import '../theme';

nav.nav-links {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding: 2em 1.5em;
  .nav-links__link {
    cursor: pointer;
    display: inline-block;
    margin: 0 0 1.5em 0;
    color: #fff;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $secondary;
    }
  }
}

@media screen and (max-width: 700px) {
  nav.nav-links {
    display: none;
  }

  nav.nav-links.mobileView {
    position: absolute;
    top: 60px;
    height: calc(100% - 60px);
    width: 100%;
    writing-mode: unset;
    text-orientation: unset;
    display: flex;
    flex-direction: column;
    background-color: $primary;
    opacity: 0.9;
  }
}
